@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);

    --text: #e9e2e2;
    --background: #181616;
    --primary: #0dc8ce;
    --secondary: #2853e2;
    --accent: #016d75;
    --hover: #7DC3EB;
}

.main h3{
    color: var(--text);
    text-align: center;
    font-size: 250%;
    font-weight: normal;
}

.main {
    margin-top: 7%;
    margin-bottom: 3vw;

}

.projects {
    text-align: center;
    font-size: 150%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content:center

}

a {
    text-decoration: none;
}

/* a {
    color: #48cae4;
}

a:visited {
    color: #0077b6;
  }

a:hover {
    color: #ade8f4;
  } */


a {
    color: var(--primary);
}

a:visited {
    color: var(--secondary);
  }

a:hover {
    color: var(--hover);
  }

  ::selection {
    background: var(--accent);
  }

  .projectbox {
    margin: 1rem;
    width: 20rem;
    color: var(--text);
    border: 0.1em solid var(--text);
    
    /* height: 12vw; */
    border-radius: 0.5em;
    transition: 0.2s;
    /* margin: auto; */
    padding: 1vw;
    text-align: center;

    min-height: 12rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* .firstprojectbox {
    
    color: var(--text);
    border: 0.15vw solid white;
    width: 20vw;
    height: 12vw;
    border-radius: 1vw;
    transition: 0.2s;
    margin: auto;
    padding: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    float: left;
    margin-left: 15vw;
    text-align: center;
  }

  */

  .projectbox:hover, .firstprojectbox:hover{
    transform: translate(0, -0.5vw);
    border-color: var(--primary);
    cursor: pointer;
  }

  .boxheading {
    margin-top: 1vw;
    font-size: 125%;
    color: var(--primary);
  }

  .boxcontent {
    font-size: 1rem;
  }


  h3 {
    color: var(--primary);
    text-align: center;
    font-size: 2.5rem;
  }